/*---------------------------------- Carte -----------------------------------------*/
.cadre {
    display: flex;
	max-width: 1000px;				
	margin: 20px auto;
	border-radius: 15px;
    padding: 20px 0 20px 0;
	background-color:#f4f4f4;		
	align-items: stretch;
    flex-direction: column;
    justify-content: space-between;
}

.cadre .UP {
	display : flex;
    justify-content: space-evenly;	
	align-items: center;					
}
.cont-txt {
    max-width: 650px;
	padding: 10px 0;
	color: var(--bgcolor);
}
.cont-prix {
	padding: 10px;
	margin: 10px;
	color: var(--bgcolor);
	display : flex;
}
.cont-prix h4 {
	margin: 10px 0;
	text-decoration :line-through ;
}
.cont-prix .btn {
	margin: 0 auto;
}
.Down {
	display : flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 20px;
}

.carte-offer {
	min-width: 200px;
	margin: 5px 20px;
}		
.imageProduit {
	width: 220px;
	height: 230px;
	border-radius: 15px;
}
.cont-txt-carte {
	max-width: 220px;
}
.detials {
	display: flex;	
	width: 90%;			
	margin: 20px auto;
	border-radius: 15px;
    padding: 20px 0 20px 0;
	background-color:#f4f4f4;		
	align-items: stretch;
    flex-direction: column;
}
.detials .UP {
	display : flex;
    justify-content: space-evenly;	
}
.detials-product {
	display: grid;
    color: var(--bgcolor);
    /* flex-direction: column; */
    justify-items: center;
	align-content: space-evenly;
}
.detials .cont-prix {
	display: flex;
	
}
.name-product {
	font-size: 20pt;
}
/*---------------------------------------------------------------------------------------------*/
.footer {
    padding: 40px 0;
	position: relative;
	bottom: 0;
    background-color: #000;
}
.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4c4d;

}
.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc ;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}
.footer ul{
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}
.footer ul li a{
    color: var(--colortxt);
    text-decoration: none;
    opacity: 0.8;

}
.footer ul li{
	display: inline-block;
	padding: 0 15px;

} 
.footer ul li a:hover{
    opacity: 1;
    color: var(--colorp) 
}
.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px ;
    color: #aaa;
}
/*------------------------------------ nav -----------------------------------------------*/

.navbar{
	display: flex;
	padding: 10px 0px;
	height: 70px;
	align-items: center;
	justify-content: space-around;
}
.navbar-1 {
	z-index: 10;
	position: relative;
	background-color: var(--bgcolor) !important;
}
.navbar-2 {
	position: fixed;
	background-color: var(--bgnav) !important;
    width: 100%;
    z-index: 1;
    top: 0;
}
.navlist{
	list-style-type :none ;
	display: flex;
	column-gap: 20px;
}
.navlink{
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font-size: 14pt;
	color: var(--colortxt);
	transition: 0.61s;
}
.navlink:hover {
	transition: 0.61s;
	color: var(--colorp);
}
.link-active {
	display: inline-block;
	text-decoration: none;
	font-weight: bold;
	font-size: 14pt;
	transition: 0.61s;
	color: var(--colorp);
}
.navlogo {
	display: flex;
}
.menulink {
	display: none;
}
.cercle {    
	z-index: -1;
    background-color: var(--colorp);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    height: 70px;
    width: 70px;
}
.none {
	display: none;
}
/*------------------------------ btn ----------------------------------------*/
.btn {
	background-color:var(--colorp);
	border: 2px solid var(--colorp) ;
	color: var(--colortxt);
	font-weight: bold;
	padding: 0.58rem 1.8rem ;
	border-radius: 15px;
	transition: 0.61s;
	text-decoration:none;
}
.btn:hover {
	background-color: var(--bgcolor);
	transition: 0.61s;
}
@media screen and (max-width : 700px ) {
	.navvar {
		padding: 10px 10px !important; 
		justify-content: space-between;
	}
	.navlist{
		display: none;
	}
	.menulink {
		display: block;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        color: var(--colorp);
        background-color: var(--colorp);
        border-radius: 50%;
    }
	.navlogo {
		display: flex;
		display: flex;
        width: 50%;
        align-items: center;
	}
	.showMore .navlist {        
		display: flex;
        position: fixed;
        width: 100%;
        height: auto;
        z-index: 2;
        background-color: var(--bgnav);
        flex-direction: column;
        align-items: center;
    }
	.cercle {
		display: none;
	}
}
